
body::-webkit-scrollbar {
    width: .3em;
}

body::-webkit-scrollbar-thumb  {
    color: rgb(90, 67, 67);
    background-color: gray;
    border: transparent;
    border-radius: 5px;
}

#root {
    background-image: url('../assets/images/tickets-webp.webp');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
}

.outlet {
    width: 100%;
    flex-grow: 1;
}

/* Home Carousel Styles --------------------------------------------*/

.previewContainer {
    margin: 0 auto;
    height: 100%;
    color:antiquewhite;
}

.overlayText {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #21252997;
}

@media screen and (max-width: 1200px) {
    .previewContainer {
        width: 100%;
        padding-bottom: 10px;
    }
}

/* Detail View Styles --------------------------------------------*/

.movieDetail {
    box-sizing: border-box;
    position: relative;
    flex-grow: 1;
    z-index: 10;
    width: 100%;
    height: 100vh;  
    padding-bottom: 5px;
    background: linear-gradient(to top, rgb(0, 0, 0) 25%, transparent);
}

.imgDetail {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 45vw;
    max-height: 590px;
}

.mainContent {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;

    font-size: x-large;
    padding-left: 5vw;
    padding-bottom: 20px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 35%, transparent);
    color: antiquewhite;
}

.mainContent h1 {
    padding-top: 5vh;
    padding-right: 15px;
}

.overviewMainContent {
    margin: 0;
    height: 450px;
    width: 500px;
    overflow-y: auto;
    text-align: left;
}

.overviewMainContent::-webkit-scrollbar {
    width: .3em;
}

.overviewMainContent::-webkit-scrollbar-thumb  {
    color: rgb(90, 67, 67);
    background-color: gray;
    border: transparent;
    border-radius: 5px;
    
}

@media screen and (max-width: 600px) {
    .movieDetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        height: 100vh
    }

    .imgDetail {
        position: static;
        height: auto;
        width: 100%;
        
    }

    .overviewMainContent {   
        font-size: .7em;
        height: 250px;
        width: 90%;
    }

    .mainContent {
        position: static;
        
        flex-grow: 1;
        
    }

}

.genresMainContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
}

.genresMainContent span {
    background-color: brown;
    border-radius: 5px;
    padding: 0 10px;
}

/* Error Page Styles --------------------------------------------*/

.notFound {
    text-align: center;
    color: white;
    margin-top: 50vh;
}

/* Form Styles --------------------------------------------*/

.customForm {
    width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .customForm {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100vw;
    }
}

/* Footer Styles --------------------------------------------*/

.footer {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-left: 2em;
    background-color: #212529;
    color: antiquewhite;
    font-size: 16px;
    text-align: left;
}

.footer :nth-child(1) {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Movies View Styles --------------------------------------------*/

.movieContainer {
    padding: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Card Component Styles --------------------------------------------*/

.cardContainer {
    width: 28rem;
}

@media screen and (max-width: 500px) {
    .cardContainer {
        width: 90vw;
    }
}

.cardOverview {
    height: 150px;
    padding: 0 1em;
    overflow-y: auto;
    text-align: justify;
}

.cardOverview::-webkit-scrollbar {
    width: .3em;
}

.cardOverview::-webkit-scrollbar-thumb  {
    color: rgb(90, 67, 67);
    background-color: gray;
    border: transparent;
    border-radius: 5px;
}

.imgOverflow {
    height: 230px;
    overflow-y: hidden;
}

.movieFav {
    position: absolute;
    padding: 0.5em;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.235);
    border-radius: 10px;
    border: none;
}

.movieFav:hover::after {
    font-size: .75em;
    content: "  Add to favs";
    color: blanchedalmond;
}