
#root {
    background-image: url('../assets/images/tickets.jpg');
    /* background-image: url('https://images.unsplash.com/photo-1593940256067-fb4acd831804?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2hvd3xlbnwwfDF8MHx8&w=1000&q=80'); */
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: .3em;
}

body::-webkit-scrollbar-thumb  {
    color: rgb(90, 67, 67);
    background-color: gray;
    border: transparent;
    border-radius: 5px;
}

header {
    width: 100%;
}

.outlet {
    width: 100%;
    
    flex-grow: 1;
}
.previewContainer {
    color:antiquewhite;
    margin: 0 auto;
    height: 100%;
}

.overlayText {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #21252997;
}

@media screen and (max-width: 1200px) {

    .previewContainer {
        
        width: 100%;
        padding-bottom: 10px;
    }
}

.movieDetail {
    position: absolute;
    box-sizing: border-box;
    padding-bottom: 5px;
    position: relative;
    background: linear-gradient(to top, rgb(0, 0, 0) 25%, transparent);
    width: 100%;
    height: 100vh;  
    z-index: 10;
}

.imgDetail {

    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    height: 45vw;
    max-height: 590px;
}

.mainContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    z-index: 20;
    font-size: x-large;
    padding-left: 5vw;
    padding-bottom: 20px;
    width: 100%;
    height: inherit;
    
    background: linear-gradient(90deg, rgb(0, 0, 0) 35%, transparent);
    
    color: antiquewhite;
}

.mainContent h1 {
    padding-top: 5vh;
    padding-right: 15px;
}

.overviewMainContent {
    margin: 0;
    
    width: 40vw;
    height: 450px;
    width: 500px;
    overflow-y: auto;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .overviewMainContent {
        width: 90%;
    }
}

.overviewMainContent::-webkit-scrollbar {
    width: .3em;
}

.overviewMainContent::-webkit-scrollbar-thumb  {
    color: rgb(90, 67, 67);
    background-color: gray;
    border: transparent;
    border-radius: 5px;
    
}

.genresMainContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
}

.genresMainContent span {
    background-color: brown;
    border-radius: 5px;
    padding: 0 10px;
}

.notFound {
    text-align: center;
    color: white;
    margin-top: 50vh;
}

.customForm {
    margin: 0 auto;
    width: 500px;
}

@media screen and (max-width: 800px) {
    .customForm {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100vw;
    }
    
}

.footer {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-left: 2em;
    background-color: #212529;
    color: antiquewhite;
    font-size: 16px;
    text-align: left;
    
}

.footer :nth-child(1) {
    height: 100%;
    padding: 0;
    margin: 0;

}

.movieContainer {
    padding: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cardContainer {
    width: 28rem;
}


@media screen and (max-width: 500px) {
    .cardContainer {
        width: 90vw;
    }
}

.cardOverview {
    height: 150px;
    padding: 0 1em;
    overflow-y: auto;
    text-align: justify;
}

.cardOverview::-webkit-scrollbar {
    
    width: .3em;
}

.cardOverview::-webkit-scrollbar-thumb  {
    color: rgb(90, 67, 67);
    background-color: gray;
    border: transparent;
    border-radius: 5px;
    
}

@media screen and (max-width: 600px) {
    .movieDetail {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
    }

    .imgDetail {
        position: static;
        height: auto;
        width: 100%;
        z-index: 0;
    }

    .overviewMainContent {   
        font-size: .7em;
        height: 250px;

    }
    .mainContent {
        position: static;
        z-index: 0;
    }

}

/* Card Styles */
.imgOverflow {
    height: 230px;
    overflow-y: hidden;
}

.movieFav {
    position: absolute;
    padding: 0.5em;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.235);
    border-radius: 10px;
    border: none;
}

.movieFav:hover::after {
    font-size: .75em;
    content: "  Add to favs";
    color: blanchedalmond;
}